<div id="container">
  <div class="sprite" id="pacman"><img src="../images/pacman.png"/></div>
  <div class="sprite" id="inky"><img src="../images/inky.png"/></div>
  <div class="sprite" id="pinky"><img src="../images/pinky.png"/></div>
  <div class="sprite" id="blinky"><img src="../images/blinky.png"/></div>
  <div class="sprite" id="clyde"><img src="../images/clyde.png"/></div>
</div>
